@page "/"
@layout LoginLayout

<div class="row">
    <div class="col-12 d-flex flex-column align-items-center gap-2">
        <img class="img-header mt-2" src="/img/azure-devops.svg" alt="Logo Poblana Segura" />
        <label>Devops</label>
    </div>

    <div class="col-12 d-flex flex-column align-items-center gap-3 mt-4">
        <input type="text" name="text" class="input" pattern="\d+" placeholder="url Apis Publicas" @bind-value="@VM.DataSelected.UrlApis">
        <button class="btn-donate" @onclick="() => VM.ReadUrlCommand.ExecuteAsync()"> Convertir</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 col-md-6 my-3">
        <CardComponent TituloCard="Encriptacion URL Streaming" ValorInput="@VM.DataSelected.UrlServidorVM" 
                        ActionEvt="VM.EncryptionCommand.ExecuteAsync" GetValueInputEvt="GetValueInput"
                        ValorResultado="@VM.MostrarEncryptacion"/>
    </div>
    <div class="col-12 col-md-6 my-3">
        <CardComponent TituloCard="Desencriptacion URL Streaming" ValorInput="@VM.DataSelected.DesencryptionKey"
                       ActionEvt="VM.DesencryptionCommand.ExecuteAsync" GetValueInputEvt="GetValueDesenc"
                       ValorResultado="@VM.MostrarDesencryptacion" />
    </div>
</div>

@if (VM.VerMensaje)
{
    <MessageComponent Mensaje="@VM.Mensaje" ShowInfo="VM.VerMensaje" />
}

